.contact {
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #141516;
  position: absolute;

  .button {
    border-radius: 3em;
    border: 1px solid rgb(136, 136, 136);
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 60px 15px 60px;

    p {
      position: relative;
      z-index: 1;
      transition: color 0.4s linear;
    }
  }

  .body {
    width: 100%;
    max-width: 1800px;
    background-color: #141516;

    .title {
      border-bottom: 1px solid rgb(134, 134, 134);
      padding-bottom: 100px;
      margin-left: 200px;
      margin-right: 200px;
      position: relative;

      span {
        display: flex;
        align-items: center;

        .imageContainer {
          width: 100px;
          height: 100px;
          position: relative;
          border-radius: 50%;
          overflow: hidden;

          img {
            object-fit: cover;
          }
        }
        h2 {
          margin-left: 0.3em;
        }
      }

      h2 {
        font-size: 5vw;
        margin: 0px;
        font-weight: 300;
      }

      .buttonContainer {
        position: absolute;
        left: calc(100% - 400px);
        top: calc(100% - 75px);

        .rounded {
          width: 180px;
          height: 180px;
          background-color: #455ce9;
          color: white;
          border-radius: 50%;
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          padding: 0px;

          p {
            margin: 0px;
            font-size: 16px;
            font-weight: 300;
            z-index: 2;
            position: relative;
          }
        }

        .button {
          width: 180px;
          height: 180px;
          background-color: #455ce9;
          color: white;
          border-radius: 50%;
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          padding: 0px;

          p {
            margin: 0px;
            font-size: 16px;
            font-weight: 300;
            z-index: 2;
            position: relative;
          }
        }
      }

      svg {
        position: absolute;
        top: 30%;
        left: 100%;
      }

      // Media query for .title
      @media (max-width: 768px) {
        margin-left: 20px;
        margin-right: 20px;
        padding-bottom: 50px;

        h2 {
          font-size: 10vw;
        }

        span {
          flex-direction: column;
          align-items: flex-start;
          gap: 20px;

          .imageContainer {
            width: 80px;
            height: 80px;
          }

          h2 {
            margin-left: 0;
          }
        }

        .buttonContainer {
          position: relative;
          left: 0;
          top: 30px;

          .button,
          .rounded {
            width: 120px;
            height: 120px;
            position: relative;

            p {
              font-size: 14px;
            }
          }
        }

        svg {
          display: none;
        }
      }
    }

    .nav {
      display: flex;
      gap: 20px;
      margin-top: 100px;
      margin-left: 200px;
      margin-right: 200px;

      @media (max-width: 768px) {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 50px;
        flex-direction: column;
        gap: 15px;
      }
    }

    .info {
      display: flex;
      justify-content: space-between;
      margin-top: 100px;
      padding: 20px;

      div {
        display: flex;
        gap: 10px;
        align-items: flex-end;

        p,
        h3 {
          margin: 0px;
          padding: 2.5px;
          cursor: pointer;
        }

        p {
          &::after {
            content: "";
            width: 0%;
            height: 1px;
            background-color: white;
            display: block;
            margin-top: 2px;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            transition: width 0.2s linear;
          }
          &:hover {
            &::after {
              width: 100%;
            }
          }
        }

        span {
          display: flex;
          flex-direction: column;
          gap: 15px;
        }

        h3 {
          color: grey;
          cursor: default;
          font-weight: 300;
          font-size: 1em;
        }
      }

      /* ===== MOBILE ===== */
      @media (max-width: 768px) {
        flex-direction: column;
        gap: 40px;
        margin-top: 50px;
        padding: 20px;

        div {
          flex-direction: column;
          align-items: flex-start;
          gap: 20px;
        }

        /* Make socials flex neatly on mobile */
        div:nth-of-type(2) {
          display: none;
          flex-direction: column;
          gap: 10px;

          /* group all p (social links) horizontally */
          span + * {
            display: flex;
            flex-wrap: wrap;
            gap: 15px;
          }

          p {
            font-size: 1rem;
            padding: 8px 12px;
            background: rgba(255, 255, 255, 0.05);
            border-radius: 8px;
            transition: background 0.3s ease;

            &:hover {
              background: rgba(255, 255, 255, 0.15);
            }
          }
        }
      }
    }
  }
}
